.form {
  overflow: hidden;

  &__input {
    margin: 1.6rem 0;

    input[type="text"] {
      font-family: inherit;
      font-size: 1.6rem;
      line-height: 1.2;
      color: inherit;
    
      padding: .8em;
      background-color: $greyE;
      border: 1px solid $greyE;
      border-radius: 5em;
      outline: none;
    }
  }

  .err {
    font-size: 1rem;
    color: $red;
  }

  &__btns {
    margin-top: 2.5rem;
    padding: 1rem;
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(2, 1fr);
  }

}