.success {
  padding: 2rem 1rem;
  
  &__msg {
    padding-bottom: 2rem;
    font-size: 2rem;
    color: $grey3;
    text-transform: uppercase;
  }
  
  &__stat {
    padding-bottom: 1rem;
    font-size: 1.5rem;
    color: $grey3;
    text-transform: uppercase;

    &:last-of-type {
      margin-bottom: 1.5rem;
    }
  }
}