/* ---- BREAKPOINTS --------------------------------------------------- */
$md: 992px;
$sm: 600px;


/* ---- COLORS -------------------------------------------------------- */

// main
$clrBlack: #000;
$clrWhite: #fff;
$clrGrey: #555;

// tints
$blue: #0047ab;
$purple: #8e3edb;
$green: #37af4a;
$red: #e11b22;

// shades
$greyE: #eee;
$greyD: #ddd;
$greyC: #ccc;
$grey3: #333;
$grey6: #666;
$grey9: #999;

// accents
$greyAcc1: #3a404d;
$greyAcc2: #181c26;