/* ---- BREAKPOINTS --------------------------------------------------- */
$md: 992px;
$sm: 600px;


/* ---- COLORS -------------------------------------------------------- */

// greys
$clrBlack: #000;
$clrWhite: #fff;
$clrGrey: #555;

$greyE: #eee;
$greyD: #ddd;
$greyC: #ccc;
$grey3: #333;
$grey6: #666;
$grey9: #999;

// tints
$blue: #0047ab;
$purple: #8e3edb;
$green: #37af4a;
$red: #ff0000;

// add-shades

// add-accents